.throttle {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 20px;
}

.bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); 

    display: flex;
    flex-direction: column;
    align-items: center;
}

.yaw {
    height: 20px;
}

.throttle, .yaw {
    padding: 4px;
    margin: 4px;
    border: 1px solid black;
}